<form class="flex flex-col gap-3">
  <div class="flex flex-col gap-2">
    <label for="">Parental Education</label>
    <div class="flex items-center gap-2">
      <input
        type="radio"
        id="male"
        [defaultChecked]="form().parentEducation === '0'"
        (input)="updateForm('parentEducation', $event.target)"
        required
        class="radio"
        value="0"
        name="Education"
      />
      <label for="male" id="radio">None</label>
    </div>
    <div class="flex items-center gap-2">
      <input
      [defaultChecked]="form().parentEducation === '1'"
      (input)="updateForm('parentEducation', $event.target)"
        type="radio"
        id="Female"
        required
        class="radio"
        value="1"
        name="Education"
      />
      <label for="Female"> High School</label>
    </div>
    <div class="flex items-center gap-2">
      <input
      [defaultChecked]="form().parentEducation === '2'"
      (input)="updateForm('parentEducation', $event.target)"
        type="radio"
        id="Female"
        required
        class="radio"
        value="2"
        name="Education"
      />
      <label for="Female"> Some College</label>
    </div>
    <div class="flex items-center gap-2">
      <input
      [defaultChecked]="form().parentEducation === '3'"
      (input)="updateForm('parentEducation', $event.target)"
        type="radio"
        id="Female"
        required
        class="radio"
        value="3"
        name="Education"
      />
      <label for="Female">Bachelor's Degree</label>
    </div>
    <div class="flex items-center gap-2">
      <input
      [defaultChecked]="form().parentEducation === '4'"
      (input)="updateForm('parentEducation', $event.target)"
        type="radio"
        id="Female"
        required
        class="radio"
        value="4"
        name="Education"
      />
      <label for="Female">Higher</label>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <label for="">Parental Support</label>
    <div class="flex items-center gap-2">
      <input
        type="radio"
        [defaultChecked]="form().parentSupport === '0'"
        (input)="updateForm('parentSupport', $event.target)"
        id="male"
        required
        class="radio"
        value="0"
        name="parentaleducation"
      />
      <label for="male" id="radio">None</label>
    </div>
    <div class="flex items-center gap-2">
      <input
        
      [defaultChecked]="form().parentSupport === '1'"
      (input)="updateForm('parentSupport', $event.target)"
        type="radio"
        id="Female"
        required
        class="radio"
        value="1"
        name="parentaleducation"
      />
      <label for="Female"> Low</label>
    </div>
    <div class="flex items-center gap-2">
      <input
      [defaultChecked]="form().parentSupport === '2'"
      (input)="updateForm('parentSupport', $event.target)"
        type="radio"
        id="Moderate"
        required
        class="radio"
        value="2"
        name="parentaleducation"
      />
      <label for="Moderate">Moderate</label>
    </div>
    <div class="flex items-center gap-2">
      <input
      [defaultChecked]="form().parentSupport === '3'"
      (input)="updateForm('parentSupport', $event.target)"
        type="radio"
        id="High"
        required
        class="radio"
        value="3"
        name="parentaleducation"
      />
      <label for="High">High</label>
    </div>
    <div class="flex items-center gap-2">
      <input
        type="radio"
        [defaultChecked]="form().parentSupport === '4'"
        (input)="updateForm('parentSupport', $event.target)"
        id="VeryHigh"
        required
        class="radio"
        value="4"
        name="parentaleducation"
      />
      <label for="VeryHigh">Very High</label>
    </div>
  </div>
</form>
