

<div>
  
  <div class="space-y-1 md:min-h-[6rem]">
    <p class="font-semibold text-3xl">
      Student {{ formService.progressForm()[currentRoute].title }}
  </p>
  <div class="text-xs w-[60%] md:block hidden">
    {{ formService.progressForm()[currentRoute].description }}
  </div>
</div>
<div class="flex w-full gap-4 flex-wrap py-5 pb-10 space-y-1">
  @for (progress of formService.progressForm(); track $index) {
  <div class="flex-1">
    <div
    class="bg-gray-200 h-[0.4rem] rounded-full"
    >

      <div
      [style.width.%]="progress.progress"
      [style.background-color]="progress.progress < 100 ? 'red' : ' #1051E4 ' "
      class="bg-red-500 h-[0.4rem] rounded-full progress"
      ></div>
    <a class="text-xs flex gap-1" [style.color]=" progress.progress == 100 ? ' #1051E4 '  : progress.progress == 0 ? 'black' :'red' " [routerLink]="[$index + 1]" (click)="routeCurrent($index)">
      {{ progress.title.split(" ")[0] }} <span class="hidden md:block">
        {{ progress.title.split(" ")[1] }}
      </span>
    </a>

    </div>
  </div>
  }
</div>
<router-outlet />

</div>
<div class="  flex justify-between pt-4 ">
  <button (click)="back()"   >Back</button>

  <div class="flex gap-2">
    <button class="bg-white btn hover:bg-red-500 hover:text-white">
      Cancel
    </button>
   

    @if(currentRoute !== 4) {
      <button (click)="next()" class="btn btn-primary">
        Next
      </button>
    }
    @else{
      <button class="btn btn-primary" (click)= "submit()">
        Submit
      </button>
    }
  </div>
</div>